<h1 class="project_list_title">Editing Project</h1>

<div class="forms">
<%= render 'form', project_list: @project_list %>
</div>

<div class="links">
<%= link_to 'Cancel', project_lists_path %>
</div>



