<h1 class="project_list_title">New Project</h1>

<div class="forms">
	<%= render 'form', project_list: @project_list %>
</div>

<div class="links">
	<%= link_to 'Back', project_lists_path %>
</div>



